<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemistry Curriculum</title>

    <script type="module" src="/static/edit.js"></script>
</head>
<body>
    <label for="titleInput">Title:</label><br>
    <input type="text" id="titleInput"><br><br>
    <label for="contentInput">Content:</label><br>
    <div id="contentInput" contentEditable="true" style="border: 1px solid gray; border-radius: 2px; width: 400px; min-height: 400px;"></div><br>
    
    <button id="cancelButton">Cancel</button>
    <button id="saveButton">Save</button>
</body>
</html>