<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemistry Curriculum</title>
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script defer src="/static/index.js"></script>
</head>
<body>
    <h1>Chemistry Curriculum</h1>
    <button id="newButton">(+) New Item</button>
    <div id="itemList"></div> 
</body>
</html>