<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemistry Curriculum</title>
    <link rel="stylesheet" href="item.css">
    <script src="curriculum.js"></script>
    <script defer type="module" src="item.js"></script>
</head>
<body>
    <h2 id="itemTitle"></h2>
    <div>
        <button id="editButton">Edit</button>
    </div>
    <div id="contentContainer"></div>
    <div>
        <button onclick=" window.location.href = 'index.html' ">Home</button>
    </div>
</body>
</html>

